{% extends 'manga/base.html' %}

{% block stylesheet %}
{{block.super}}
<style>
    .container {
    }
    .content {

    }
    .content .col {
        color: #C63D2F;
        font-family: 'Boldly Missy', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 2px;
    }
    .content .row {
        width: 100%;
    }
    .content .search {
        margin-top: 49px;
        border-radius: 30px;
        /*background: #D9D9D9;*/
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
        height: 8vh;
        display: flex;
        align-items: center;
        padding: 0 15px;
        border: 0 solid #e5e7eb;
        background: #C63D2F;

    }

    .content .search svg {
        margin-right: 20px;
    }

    .content .search input {
        border: none;
        outline: none;
        background: transparent;
        flex: 1;
        height: 100%;
        font-size: 16px;
        color: white;
        font-family: 'Boldly Missy', sans-serif;
    }
    .content .search input::placeholder {
        font-family: 'Boldly Missy', sans-serif;
    }
    .container .datas {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 50px;
        padding-top: 20px;

    }

    .container .datas .card {
        height: 400px;

        padding: 20px 0 0 0;
        width: calc(30% - 20px);
        background: #FCE9F1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

    }
    .container .datas .card img {
        height: 300px;
        margin-top: -8px;
        object-fit: cover;
        width: 95%;
    }

    section {
        height: auto;
        background: #FAFAF7;

    }
    .card-body .card-title {
        color: #080202;
        font-family: 'Boldly Missy', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 2px;
    }
    .card-body .card-author {
        color: #080202;
        font-family: 'Boldly Missy', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 14px */
        letter-spacing: 1.4px;
    }



    section nav #navbarNav ul.navbar-nav {
        background: #C63D2F;
    }
    .container .logo {
        color: #C63D2F;
    }
    .card-body {
        width: 100%;
    }









</style>
{% endblock %}





{% block content %}
<div class="container">
    <div class="content">
        <div class="row">
            <div class="col">
                Manga
            </div>
            <div class="search" >
                <svg width="26" height="26" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="Vector" d="M33.2 36L20.6 23.4C19.6 24.2 18.45 24.8333 17.15 25.3C15.85 25.7667 14.4667 26 13 26C9.36667 26 6.29167 24.7417 3.775 22.225C1.25833 19.7083 0 16.6333 0 13C0 9.36667 1.25833 6.29167 3.775 3.775C6.29167 1.25833 9.36667 0 13 0C16.6333 0 19.7083 1.25833 22.225 3.775C24.7417 6.29167 26 9.36667 26 13C26 14.4667 25.7667 15.85 25.3 17.15C24.8333 18.45 24.2 19.6 23.4 20.6L36 33.2L33.2 36ZM13 22C15.5 22 17.625 21.125 19.375 19.375C21.125 17.625 22 15.5 22 13C22 10.5 21.125 8.375 19.375 6.625C17.625 4.875 15.5 4 13 4C10.5 4 8.375 4.875 6.625 6.625C4.875 8.375 4 10.5 4 13C4 15.5 4.875 17.625 6.625 19.375C8.375 21.125 10.5 22 13 22Z" fill="white"/>
                </svg>
                <input type="text" placeholder="Search a manga"/>


            </div>
        </div>

    </div>
    <div class="datas">
        <iframe src="{% url 'api-docs' %}" style="width: 100%; height: 600px; border: none;"></iframe>
    </div>

    {% endblock %}

    {% block javascript %}
    this.style.backgroundColor = "#C63D2F";
    this.style.color = "white";
    {% endblock %}