{% extends 'manga/base.html' %}

{% block stylesheet %}
        {{block.super}}
        <style>
                .container {
                }
                .content {

                }
                .content .col {
                        color: #C63D2F;
                        font-family: 'Boldly Missy', sans-serif;
                        font-size: 25px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 100%;
                        letter-spacing: 2px;
                }
                .content .row {
                        width: 100%;
                }
                .content .search {
                        margin-top: 49px;
                        border-radius: 30px;
                        /*background: #D9D9D9;*/
                        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
                        height: 8vh;
                        display: flex;
                        align-items: center;
                        padding: 0 15px;
                        border: 0 solid #e5e7eb;
                        background: #C63D2F;
                        width: 100%;

                }

                .content .search svg {
                        margin-right: 20px;
                }
                form {


                        width: 100%;
                }

                .content .search input {
                        border: none;
                        outline: none;
                        background: transparent;
                        flex: 1;
                        height: 100%;
                        width: 100%;
                        font-size: 16px;
                        color: white;
                        font-family: 'Boldly Missy', sans-serif;
                }
                .content .search input::placeholder {
                        font-family: 'Boldly Missy', sans-serif;

                }
                .container .datas {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        margin-top: 50px;
                        padding-top: 20px;

                }

                .container .datas .card {
                        height: 400px;

                        padding: 20px 0 0 0;
                        width: calc(30% - 20px);
                        background: #FCE9F1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 20px;

                }
                .container .datas .card img {
                        height: 300px;
                        margin-top: -8px;
                        object-fit: cover;
                        width: 95%;
                }

                section {
                        height: auto;
                        background: #FAFAF7;

                }
                .card-body .card-title {
                        color: #080202;
                        font-family: 'Boldly Missy', sans-serif;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 100%;
                        letter-spacing: 2px;
                }
                .card-body .card-author {
                        color: #080202;
                        font-family: 'Boldly Missy', sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 100%; /* 14px */
                        letter-spacing: 1.4px;
                }



                section nav #navbarNav ul.navbar-nav {
                        background: #C63D2F;
                }
                .container .logo {
                        color: #C63D2F;
                }
                .card-body {
                        width: 100%;
                }









        </style>
{% endblock %}





{% block content %}
        <div class="container">
                <div class="content">
                        <div class="row">
                                <div class="col">
                                        Manga
                                </div>
                                <div class="search" >
                                        <form method="POST" id="searchForm" action="{% url 'manga-filtre' %}" >
                                                 {% csrf_token %}
                                                {{form}}

                                        </form>
                                </div>

                        </div>

                </div>
                <div class="datas">
                        {% block datas %}

                                {% for info in informations %}
                                        <div class="card">
                                                <img src="{{ info.image_link }}" class="card-img-top" alt="cover de {{info.manga_tile}}">
                                                <div class="card-body">
                                                        <h5 class="card-title">{{ info.manga_title}}</h5>
                                                        <a href="{% url 'manga-details' pk=info.pk %}" class="card-author text-decoration-none">{{ info.author}}</a>
                                                </div>
                                        </div>
                                {% endfor %}

                        {%endblock %}




                </div>

{% endblock %}

{% block javascript %}
this.style.backgroundColor = "#C63D2F";
this.style.color = "white";


$(document).ready(function() {
        // L'événement du formulaire
        $('#searchForm').submit(function(e) {
            e.preventDefault();

            // Soumission via AJAX
            $.ajax({
                type: 'POST',
                url: '{% url "manga-filtre" %}',
                data: $('#searchForm').serialize(),
                success: function(response) {
                    $('.datas').html(response);
                }
            });
        });
    });
{% endblock %}
