{% block nav %}
<!--Nav-->
<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container">
        <a class="navbar-brand logo" href="#">O'SCANS</a>

        <div  id="navbarNav">
            <ul class="navbar-nav  d-flex ">
                <li class="nav-item">
                    <a class="nav-link text-light link-s" href="{% url 'manga-index' %}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light link-s" href="{% url 'manga-view' %}">MANGAS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light link-s" href="{% url 'api-view' %}">API DOCS</a>
                </li>
            </ul>
        </div>

        <a id="joinUsButton" class="navbar-brand" href="https://github.com/nouha404" target="_blank" style="display: flex; padding: 11px 13px; justify-content: center; align-items: center; gap: 10px; border: 2px solid #080202; background: #FCE9F1; box-shadow: -4px 4px 0px 0px #000;">
            Join Us
            <svg width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="Vector" d="M8 1.5L1 8.5M8 1.5H2.16667M8 1.5V7.33333" stroke="#080202" stroke-width="1.5"/>
            </svg>
        </a>

    </div>
</nav>
{% endblock %}